:root {
    --brand-font: "Open Sans"; 
    --montserrat: "Montserrat";
    --grisclaro: #d8d8d8;
    --grisoscuro: #6b6b6b;
    --silver: #bfcdd0; 
    --dull-orange: #f64f7d ; //este lo hemos cambiado
    --azure: #00a0f5;
    --gunmetal: #54585a;
    --verde-azul-oscuro: #114e4e;
    --hospital-green: #a2deaf;
    --dirty-blue: #438792;
    --driedblood: #420101; 
    --rustyred: #bd1010; 
    --tomato: #e95626; 
    --slade: #3e5b65; 
    --faded-orange: #eab052;
    --light-grey-blue: #a0c0cf;
}
