.cardpreview {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #CDFFD8, #94B9FF);
    font-family: var(--brand-font);
    padding: 38px 35px 40px 45px;

    @media screen and (min-width: 768px){
        border-radius: 15px;
        width: 50vw;
        background-image: none;
        background-color: #fffAC8;
    }

    @media screen and (min-width: 1024px){
        width: 70vw; 
        
    }
}

.btnandcard {

    @media screen and (min-width: 768px){
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    /*@media screen and (min-width: 1024px){
        margin-top: 25%;
    } */

}

.resetbutton {
    display: flex;
    padding: 4px 12px 5px 10px;
    align-items: center;
    justify-content: space-between;
    border: solid white;
    background-color: #f64f7d;
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;

    @media screen and (min-width: 768px){
        transform: translate(-75px);
    }

    @media screen and (min-width: 1024px){
        transform: translate(-75px);
    }
  
    &__icon {
        padding: 3px;   
    }

    &__icon::before{
        color: white;
    }

    &__p {
        padding: 3px;
        font-family: var(--brand-font);
    }
}

.card {
    background-color: white;
    padding-top: 10px;

    @media screen and (min-width: 768px){
        width: 240px;
    }

    @media screen and (width> 1023px) {
        width: 240px;
    }
 
    &__info {
        font-family: var(--montserrat);
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        /* border-left: 5px solid var(--dirty-blue); */

        &--name {
            /* color: var(--verde-azul-oscuro); */
            font-size: 20px;
            margin-left: 20px;
            font-weight: 700;
            width: 206px;
        }

        &--description {
            /* color: var(--grisoscuro); */
            font-weight: 500;
            margin-left: 20px;
        }
    }
    
    &__imgcontainer {
        overflow: hidden;
        position: relative;
    }

    &__img {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 4/3;
        object-fit: cover;
        object-position: center;
        top: 0;
        left: 0; 
    }
}
      
.rrss {
    width: 200px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 7px;

    &__icons {
        list-style: none;
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        margin-left: 10px;
    
        &--icon {
            text-align: center;
            /* border: 2px solid var(--hospital-green); */
            padding: 5px 10px 5px 10px;
            border-radius: 50px;
            text-decoration: none;
        }

        /* &--icon::before {
            color: var(--verde-azul-oscuro);
        } */
    }
 }

 /* .rrsslink {
    /* color: var(--verde-azul-oscuro);
  } */
 

/*  crear selector que tenga anidados los estilos */
.palette1 {
    & .card__info {
        border-left: 5px solid var(--dirty-blue);
    }
    & .card__info--name {
        color: var(--verde-azul-oscuro);
    }
    & .card__info--description {
        color: var(--grisoscuro);
    }
    & .rrss__icons--icon {
        border: 2px solid var(--hospital-green);
    }
    & .rrss__icons--icon::before {
        color: var(--verde-azul-oscuro);
    }
    .rrsslink {
        color: var(--verde-azul-oscuro);
    }
}

.palette2 {
    & .card__info {
        border-left: 5px solid #420101;
    }
    & .card__info--name {
        color: #420101;
    }
    & .card__info--description {
        color: var(--rustyred);
    }
    & .rrss__icons--icon {
        border: 2px solid var(--tomato);
    }
    & .rrss__icons--icon::before {
        color: var(--driedblood);
    }
    .rrsslink {
        color: var(--driedblood);
    }
}

.palette3 {
    & .card__info {
        border-left: 5px solid #3e5b65;
    }
    & .card__info--name {
        color: var(--slade);
    }
    & .card__info--description {
        color: var(--faded-orange);
    }
    & .rrss__icons--icon {
        border: 2px solid var(--light-grey-blue);
    }
    & .rrss__icons--icon::before {
        color: var(--slade);
    }
    .rrsslink {
        color: var(--slade);
    }
}
