.cardpreview {
    background-color: var(--silver);
    font-family: var(--brand-font);
    padding: 38px 35px 40px 45px;
}

.resetbutton {
    display: flex;
    padding: 4px 12px 5px 10px;
    align-items: center;
    justify-content: space-between;
    border: solid white;
    background-color: var(--silver);
    border-radius: 20px;
    color: var(--grisoscuro);
    margin-bottom: 20px;
    

    &__icon {
        padding: 3px;   
    }

    &__icon::before{
        color: var(--grisoscuro);
    }

    &__p {
        padding: 3px;
        font-family: var(--brand-font);
    }
}

.card {
    background-color: white;
    padding-top: 10px;

    &__info {
        font-family: var(--montserrat);
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-left: 5px solid var(--dirty-blue);

        &--name {
            color: var(--verde-azul-oscuro);
            font-size: 20px;
            margin-left: 20px;
            font-weight: 700;
            width: 206px;
        }

        &--description {
            color: var(--grisoscuro);
            font-weight: 500;
            margin-left: 20px;
        }
    }
    
    &__img {
        width: 100%;
    }
}
      
.rrss {
    width: 200px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;

    &__icons {
        list-style: none;
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
    
        &--icon {
            text-align: center;
            border: 2px solid var(--hospital-green);
            padding: 5px 10px 5px 10px;
            border-radius: 50px;
            text-decoration: none;
        }

        &--icon::before {
            color: var(--verde-azul-oscuro);
        }
    }
 }

 .rrsslink {
    color: var(--verde-azul-oscuro);
 }
