.border {
    border: 1px solid black;
}

.title {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.titleText {
    text-align: left;
    padding-left: 5px;
}

.colors {
    background-color: lightcoral;
    display: grid;
    grid-template-columns: auto auto;
}

.selectDesign {
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 10fr;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.palet {
    display: grid;
    grid-template-rows: auto auto auto;

}

.paletItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paletItemGrid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
}

.paletItemGridFirst {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorsText {
    padding-left: 15px;
}