



.fill__section {

    border: none;
    padding: 20px 20px 20px 20px;
}


.fill__head {
  
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    color: var(--gunmetal);
    font-family: var(--brand-font);

 }

.fill__head-tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding-top: 10px;
    
    padding-right: 20px;

    .fa-keyboard {
        color: var(--dull-orange);
        font-size: 18px;
    }
   
}

.upDown {

margin-right: 5px;
padding-top: 10px;
}


.info__personal {
    font-family: var(--brand-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: var(--gunmetal);
    padding-top: 20px;
    
   
    label {
      padding-bottom: 5px;
      color: #114e4e;
    }

    input {

        width: 290px;
        height: 30px;
        padding: 5px;
        border: 2px solid #a2deaf;
        border-radius: 5px;
        margin-bottom: 5px;
        padding-bottom: 10px;
    }
}

.fill__upload {

    align-items: first baseline;

    input {
        width: 30px;
    }
}

.image__button {

    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.button {

    width: 140px;
    height: 30px;
    background-color: #e17334;
    color: white;
    border: none;
    border-radius: 2px;
    z-index: 9999;
    padding-left: 15px;
}

.preview {

    border: solid 1px #a2deaf;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
}