.license {
    font-family: var(--brand-font);
    color: var(--grisclaro);
    font-size: small;

    @media screen and (width> 1019px) {
        font-size: 15px;
    }
}

.footer {
    border-top: solid var(--grisclaro);
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-adalab {
    width: 140px;
    padding: 10px;
    margin-top: 5px;
}