.logoawesome {
    display: flex;
    margin: 25px;
    align-items: center;
    justify-content: center;

    &__image {
        width: 320px;
    }

    @media screen and (width> 767px) {
        justify-content: flex-start;

    }
}
