.landing{
    background-image: linear-gradient(to right, #CDFFD8, #94B9FF);
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 80vh;
    padding-bottom: 40px;
    padding-top: 30px;

    @media screen and (min-width: 768px){
        height: 90vh;        
    
    }

    &__img {
        width: 380px;
        height: 100px;
        margin-bottom: 120px;
        /* margin: 55px 35px 35px 35px; */

        @media screen and (min-width: 768px){
        width: 600px;
        height: 200px;
        margin-top: 70px;
        margin-bottom: 70px;
        }
    }
    &__title{
        margin-top: -40px;
        color: var(--dull-orange); 
        font-family: var(--brand-font);
        font-weight: 700;
        font-style: normal; 
        font-size: 24px;  

        @media screen and (min-width: 768px){
            font-size: 24px;
        }
    }
    &__text{
        text-align: center;
        font-family: var(--brand-font);
        color: var(--verde-azul-oscuro);
        margin-bottom: 20px;

        @media screen and (min-width: 768px){
            font-size: 16px;
        }
    }
    &__box {
        text-align: center;
        padding: 15px 0px;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: solid 1.5px #fed82e;  
        border-radius: 4px;
        width: 270px;
        height: 75px;
        margin-top: 30px;
        margin-bottom: 90px;

        @media all and (min-width: 768px){
            width: 325px;
            height: 85px;
            margin-top: 0px;
            margin-bottom: 120px;
        }
    &--icon {
        font-size: 22px;
        color: var(--dull-orange);

        @media all and (min-width: 768px){
                font-size: 28px;
        }
    }
    &--text {
        font-size: 12.8px;
        color: var(--gunmetal);
        font-family: var(--brand-font);
         
        @media all and (min-width: 768px){
                    font-size: 16px;
        }
    }
    }
} 


   
.button-start{
    width: 129px;
    height: 42px;
    margin: 38px 75px 0 65px;        
    padding: 10px 20px;
    border-radius: 21px;
    background-color: #fed82e;    
    color: white; 
    text-decoration: none; 
    text-align: center; 
    font-size: 16px;
    font-family: var(--brand-font);

    @media all and (min-width: 768px){
    margin-bottom: 100px;
    }
}
.footer{    
    display: flex;
    flex-direction: column;
    align-items: center;    

    @media all and (min-width: 768px){
        flex-direction: row;
        justify-content: space-between;
        height: 10vh;
        padding-left: 20px;
        padding-right: 20px;
    }    
}

.landing-license{
    font-family: var(--brand-font);
    color: var(--grisclaro);
    font-size: small;
    margin-bottom: 12px;
}

.logo-footer{
    width: 140px;
    padding: 10px;
}