.share {
    font-family: var(--brand-font);
    border-style: none;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    
    &_head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: var(--gunmetal);
        
        &-title {
            display: flex;
            align-items: center;
            gap: 12px;

            .fa-share-nodes {
                color: var(--dull-orange);
                font-size: 18px;
            }
            
        }

    }

    &_createcard {
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--grisclaro);

        &-button {
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 18px;
            padding-right: 18px;
            border-radius: 12px;
            border: none;
            background-color: var(--dull-orange);
            color: white;
            font-size: 18px;
            box-shadow: 0 1px 6px var(--grisoscuro);

            .fa-address-card {
                color: white;
                font-size: 18px;
            }
        }
    }

    &_withx {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-bottom: 30px;
        padding-top: 20px;
        border-bottom: 1px solid var(--grisclaro);
        color: var(--gunmetal);
        font-weight: 600;

        &-text {
            font-size: 18px;
            font-weight: 600;
        }

        &-url {
            font-size: 12px;
            font-weight: 600;
            line-height: 1.5;
            text-decoration: none;
            color: var(--dull-orange);
        }

        &-button {
            width: fit-content;
            background-color: var(--azure);
            color: white;
            font-size: 14px;
            line-height: 1.5;
            padding: 10px;
            border-radius: 5px;
            border: none;
            box-shadow: 0 1px 6px var(--grisoscuro);

            .fa-x-twitter {
                font-size: 16px;
                padding-right: 5px;
            }
        }
    }
}


.hidden {
    display: none;
}


