.share {
    font-family: var(--brand-font);
    border-style: none;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    &_head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: var(--gunmetal);
        
        &-title {
            display: flex;
            align-items: center;
            gap: 12px;

            .fa-share-nodes {
                color: var(--dull-orange);
                font-size: 18px;
            }
            
        }

    }

    &_createcard {
        padding-top: 30px;
        padding-bottom: 40px;

        &-button {
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 18px;
            padding-right: 18px;
            border-radius: 12px;
            border: solid white;
            background-color: var(--dull-orange);
            color: white;
            font-size: 18px;
            cursor: pointer;
            
            
            
            .fa-address-card {
                color: white;
                font-size: 18px;
            }

            
        }
        
    }
    @media (hover: hover) {
        .share_createcard-button:hover {
            transform: scale(1.1);
        }  
    }
    
    
    &_withx {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: var(--gunmetal);
        font-weight: 600;
        border-top: 1px solid;
        border-color: #f64f7d;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-left: 10px;
        margin-right: 10px;

        &-text {
            font-size: 18px;
            font-weight: 600;
        }

        &-url {
            font-size: 12px;
            font-weight: 600;
            line-height: 1.5;
            text-decoration: none;
            color: var(--dull-orange);
        }

        &-button {
            width: fit-content;
            background-color: var(--azure);
            color: white;
            font-size: 14px;
            line-height: 1.5;
            padding: 10px;
            border-radius: 5px;
            border: none;
            box-shadow: 0 1px 6px var(--grisoscuro);
            text-decoration: none;
            cursor: pointer;

            .fa-x-twitter {
                font-size: 16px;
                padding-right: 5px;
            }
        }

        
    }
}

.line {
    border-top: 1px solid;
    border-color: #f64f7d;
}

.hidden {
    display: none;
}

.share_createcard-buttonclicked {
            width: fit-content;
            background-color: var(--grisclaro);
            color: white;
            font-size: 14px;
            line-height: 1.5;
            padding: 10px;
            border-radius: 5px;
            border: none;
            box-shadow: 0 1px 6px var(--grisoscuro);
            text-decoration: none;
            cursor: pointer;
}


