.media__main {

    @media screen and (min-width: 768px){

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 20px; 
        margin-bottom: 20px;
        
    }
    

    .form__start {

        @media screen and (min-width: 768px){
            width: 50%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
   

}