<section class="cardpreview">
    <button class="resetbutton">
        <i class="fa-regular fa-trash-can resetbutton__icon"></i>
        <p class="resetbutton__p">RESET</p>
    </button>
    <div class="card">
        <div class="card__info">
            <h2 class="card__info--name">Nombre Apellido</h2>
            <h5 class="card__info--description">Front-end developer</h5>
        </div>
        <div>
            <img class="card__img" src="./images/example-image.png" alt="imagen de ejemplo para tarjeta">
        </div>
        <nav class="rrss">
            <ul class="rrss__icons">
                <li class="rrss__icons--icon"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li class="rrss__icons--icon"><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="rrss__icons--icon"><a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                <li class="rrss__icons--icon"><a href=""><i class="fa-solid fa-envelope"></i></a></li>
            </ul>
        </nav>
        </div>
    </div>
</section>