<section class="cardpreview">
    <button class="resetbutton">
        <i class="fa-regular fa-trash-can"></i>
        <p>Reset</p>
    </button>
    <div class="card">
        <h2>Nombre Apellido</h2>
        <h5>Front-end developer</h5>
        <img src="" alt="imagen de ejemplo para tarjeta">
        <div class="card__rrsscard">
            <nav>
                <ul class="card__rrsscard--redes">
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                    <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
                 </ul>
            </nav>
        </div>
    </div>
</section>