<section class="cardpreview">
    <div class="btnandcard">
    <button class="resetbutton js_reset">
        <i class="fa-regular fa-trash-can resetbutton__icon"></i>
        <p class="resetbutton__p">RESET</p>
    </button>
    <div class="card palette1 js-cardp">
        <div class="card__info">
            <h2 class="card__info--name js__preview_name">Nombre Apellido</h2>
            <h5 class="card__info--description js__preview_job">Front-end developer</h5>
        </div>
        <div class="card__imgcontainer">
            <img class="card__img js__profile-image" src="./images/perrito-trabajador.jpg" alt="imagen de ejemplo para tarjeta">
        </div>
        <nav class="rrss">
            <ul class="rrss__icons">
                <li class="rrss__icons--icon js__preview_mobile"><a class="rrsslink" href="tel:"><i class="fa-solid fa-mobile-screen"></i></a></li>
                <li class="rrss__icons--icon js__preview_mail"><a class="rrsslink" href="mailto:"><i class="fa-solid fa-envelope"></i></a></li>
                <li class="rrss__icons--icon js__preview_linkedin"><a class="rrsslink" href=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li class="rrss__icons--icon js__preview_github"><a class="rrsslink" href=""><i class="fa-brands fa-github-alt"></i></a></li>
                
            </ul>
        </nav>
    </div>
    </div>
</section>
