<fieldset class="border selectDesign">
    <div class="border title">
        <span class="border">I</span>
        <span class="border titleText">DISEÑA</span>
        <span class="border">A</span>
    </div>
    <div class="border colors">
        <span class="border">COLORES</span>
        <div class="border palet">
            <span class="border paletItem">C Paleta1</span>
            <span class="border paletItem">C Paleta2</span>
            <span class="border paletItem">C Paleta3</span>
        
        </div>
        
    </div>
</fieldset>