<fieldset class="border selectDesign">
    <div class="border title">
        <span class="border">I</span>
        <span class="border titleText">DISEÑA</span>
        <span class="border">A</span>
    </div>

    <div class="border colors">
        <span class="border colorsText">COLORES</span>
        <div class="border palet">
            <div class="border paletItem">
                <div class="paletItemGrid">
                    <span class="border paletItemGridFirst">
                        <input type="radio" />
                    </span>
                    <div class="border columnsPalet">
                        <span class="darkGreen"></span>
                        <span class="dirtyBlue"></span>
                        <span class="hospitalGreen"></span>
                    </div>
                </div>
            </div>
            <div class="border paletItem">
                <div class="paletItemGrid">
                    <span class="border paletItemGridFirst">
                        <input type="radio" />
                    </span>
                    <div class="border columnsPalet">
                        <span class="driedBlood"></span>
                        <span class="rustyRed"></span>
                        <span class="tomato"></span>
                    </div>
                </div>
            </div>
            <div class="border paletItem">
                <div class="paletItemGrid">
                    <span class="border paletItemGridFirst">
                        <input type="radio" />
                    </span>
                    <div class="border columnsPalet">
                        <span class="slate"></span>
                        <span class="faded"></span>
                        <span class="lightgreyblue"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>