<fieldset class="selectDesign">
    <div class="title">
        <div class="iconObj">
            <i class="fa-regular fa-object-ungroup orangeRegular"></i>
            <legend class="titleText">DISEÑA</legend>
        </div>

        <div class="chevronSolid">
            <i class="fa-solid fa-chevron-down hidden fSolid"></i>
            <i class="fa-solid fa-chevron-up fSolid"></i>
        </div>
    </div>

    <div class="colors js-colors">
        <span class="colorsText">COLORES</span>

        <div class="palet">
            <div class="paletItem">
                <div class="paletItemGrid">
                    <span class="paletItemGridFirst">
                        <input id="palettOne" type="radio" name="palette" value="1" checked="true"/>
                    </span>
                    <div class="columnsPalet">
                        <span class="darkGreen"></span>
                        <span class="dirtyBlue"></span>
                        <span class="hospitalGreen"></span>
                    </div>
                </div>
            </div>
            <div class="paletItem">
                <div class="paletItemGrid">
                    <span class="paletItemGridFirst">
                        <input id="palettTwo" type="radio" name="palette" value="2" />
                    </span>
                    <div class="columnsPalet">
                        <span class="driedBlood"></span>
                        <span class="rustyRed"></span>
                        <span class="tomato"></span>
                    </div>
                </div>
            </div>
            <div class="paletItem">
                <div class="paletItemGrid">
                    <span class="paletItemGridFirst">
                        <input id="palettthree" type="radio" name="palette" value="3"/>
                    </span>
                    <div class="columnsPalet">
                        <span class="slate"></span>
                        <span class="faded"></span>
                        <span class="lightgreyblue"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<div class="line"></div>