<fieldset class="fild__section">
     <article class="fill__head">
       <legend>
       <img src="" alt="">
       <h2>RELLENA</h2>
      </legend>
    </article>

    <article class="personal_info">
        <label for="name">Nombre completo</label>
        <input  id="name" type="text" name="fullname" placeholder="Ej: Ramón García">

        <label for="work">Puesto</label>
        <input id="work" type="text" name="position" placeholder="Ej: Full stack developer">

        <label for="">Imagen de perfil</label>
        <input type="text">

        <label for="email">Email</label>
        <input  id="email" type="email" placeholder="Ej: ramon@gmail.com">

        <label for="mobile">Teléfono</label>
        <input id="mobile" type="number" name="telefono" placeholder="Ej: 555 555 555">
        
        <label for="linkedin">Linkedin</label>
        <input id="linkedin"  type="text" placeholder="Ej:linkedin.com/in/Ramón">

        <label for="github">GitHub</label>
        <input id="github" type="text" placeholder="Ej: @Ramon">

    </article>
    
     
    
   
</fieldset>