  <fieldset class="fill__section collapsable--close form__box">
    
            <div class="fill__head js_collapsable-header">
            
                     <div class="fill__head-tittle">
                        <i class="fa-regular fa-keyboard"></i>
                        <legend class="rellena">RELLENA</legend>
        
                     </div>
                       <span class="upDown collapsable__icon--right">
                     
                     <i class="fa-solid fa-chevron-up"></i>
                      </span>
           
        
            </div>

     
          <div class="info__personal collapsable__content">
      
            <label for="name" class="label_form">Nombre completo</label>
            <input  id="name" type="text" name="fullname" placeholder="Ej: Ramón García" value=""> <br>
      

      
            <label for="job" class="label_form">Puesto</label>
            <input id="job" type="text" name="position" placeholder="Ej: Full stack developer" value=""> <br>
     

            <p>Imagen de perfil</p>
             <div class="image__button">
                <label for="photo" class="button">Añadir imagen</label>

                <input type="file" id="photo" class="hidden js__profile-upload-btn" name="photo" accept="image/*" value="">
                <span class="preview js__profile-preview"></span>
             </div> <br>
         

            <label for="email" class="label_form">Email</label>
            <input  id="email" type="email" placeholder="Ej: ramon@gmail.com" value=""> <br>
      

            <label for="phone" class="label_form">Teléfono</label>
            <input id="phone" type="tel" name="telefono" placeholder="Ej: 555 555 555" value=""> <br>
     
       
            <label for="linkedin" class="label_form">Linkedin</label>
            <input id="linkedin"  type="text" placeholder="Ej: ramón-garcía/" value=""> <br>
     

            <label for="github" class="label_form">GitHub</label>
            <input id="github" type="text" placeholder="Ej: Ramon-Garcia" value=""> <br>
    
          </div>
    
   </fieldset>
   <div class="line"></div>

    
