  <fieldset class="fill__section">
    
            <div class="fill__head">
            
                     <div class="fill__head-tittle">
                        <i class="fa-regular fa-keyboard"></i>
                        <legend class="rellena">RELLENA</legend>
        
                     </div>
                       <span class="upDown">
                     <i class="fa-solid fa-chevron-down hidden"></i>
                     <i class="fa-solid fa-chevron-up"></i>
                      </span>
           
        
            </div>

     
          <div class="info__personal">
      
            <label for="name">Nombre completo</label>
            <input  id="name" type="text" name="fullname" placeholder="Ej: Ramón García"> <br>
      

      
            <label for="work">Puesto</label>
            <input id="work" type="text" name="position" placeholder="Ej: Full stack developer"> <br>
     

            <p>Imagen de perfil</p>
             <div class="image__button">
                <label for="photo" class="button">Añadir imagen</label>

                <input type="file" id="photo" class="hidden js__profile-upload-btn" name="photo" accept="image/*">
                <span class="preview js__profile-preview"></span>
             </div> <br>
         

            <label for="email">Email</label>
            <input  id="email" type="email" placeholder="Ej: ramon@gmail.com"> <br>
      

            <label for="mobile">Teléfono</label>
            <input id="mobile" type="tel" name="telefono" placeholder="Ej: 555 555 555"> <br>
     
       
            <label for="linkedin">Linkedin</label>
            <input id="linkedin"  type="text" placeholder="Ej:linkedin.com/in/Ramón"> <br>
     

            <label for="github">GitHub</label>
            <input id="github" type="text" placeholder="Ej: @Ramon"> <br>
    
          </div>
    
   </fieldset>
    
