<fieldset class="share collapsable--close form__box">
    <div class="share_head js_collapsable-header">
        <div class="share_head-title">
            <i class="fa-solid fa-share-nodes"></i>
            <legend>COMPARTE</legend>
        </div>
        
        <div class="collapsable__icon--right">
          <i class="fa-solid fa-chevron-up"></i>
        </div>
    </div>

    <div class="share_createcard collapsable__content">
        <button type="submit" class="share_createcard-button js_create_button">
            <i class="fa-regular fa-address-card"></i>
            CREAR TARJETA
        </button>
    </div>

    <div class="share_withx js_shareLinkContainer hidden">
        <p class="share_withx-text">La tarjeta ha sido creada:</p>
        <a href="" class="share_withx-url js_shareLink" target="_blank"></a>
        <a href="https://twitter.com/intent/tweet?url=" class="share_withx-button js_share_to_X" target="_blank">
            <i class="fa-brands fa-x-twitter"></i>
            Compartir en X
        </a>
    </div>
    <section class="js_shareErrorContainer hidden">
        
    </section>
</fieldset>
